.input-wrapper {
  --padding: 16px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
}

input {
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
}

input:is(:focus, :valid) {
  border: 2px solid var(--focus-color);
}

.placeholder {
  position: absolute;
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all .2s ease-in;
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}